.searchBox1 {
    position: relative;
    left: 50%;
    top: 40px;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-radius: 27px;
    padding: 7px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
}


.searchBox1:hover {
    width: 330px; /* Increase the width on hover */
}

.searchBox1:hover > .searchInput1 {
    width: 230px;
    padding: 0 6px;
}

.searchBox1:hover > .searchButton1 {
    background: white;
    color: #2f3640;
    
}

.searchButton1 {
    color: white;
    float: right;
    width: 47px;
    height: 44px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput1 {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 45px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox1:hover > .searchInput1 {
        width: calc(100% - 70px); /* Adjust the width to your preference */
        padding: 0 6px;
    }
}
